* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

nav {
    background-color: #e67e22;
    width: 100%;
    height: 6rem;
}

.menu-item {
    display: inline-block;
}

.hidden {
    display: none;
}